@import "_variables";
@import "_mixins";


#profile {
    .bio {
        margin-bottom: 100px;
        .image {
            /*aspect-ratio: 1 / 1;*/
            margin-bottom: 30px;
        }
        .mini-cv {
            h1 {
                font-size: 56px;
                line-height: 58px;
            }
            h2 {
                font-size: 25px;
                line-height: 27px;
            }
            p:empty:before{
                content: "\00A0";
            }
            p:first-of-type {
                margin-bottom: 0;
            }
            p {
                line-height: 21px;
            }
            .details {
                margin-bottom: 50px;
            }
        }
    }
    nav.profile-links{
        li{
            margin: 0 20px 20px 0;
        }
        li .nav-link{
            background-color: white;
            border: 1px solid $border-color;
            border-radius: 0;
            box-sizing: border-box;
            color: $d-gray;
            font-feature-settings: "liga","kern";
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .5px;
            line-height: 21px;
            padding: 6px 18px;
            text-transform: uppercase;
            &:hover{
                background-color: $nav-hover-color;
                border-color: white;
                color: white;
            }
        }
        .social {
            margin-right: 20px;
            a {
                padding: 0;
                height: 100%;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 0;
                svg {
                    fill: $d-gray;
                }
                &:hover svg {
                    fill: white;
                }
            }
        }
    }
    .projects {
        .project{
            color: $body-color;
            margin-bottom: 100px;
            position: relative;
            .project-name{
                padding: 20px;
                transition: opacity .2s ease-out;
                z-index: 2;
                .project-title{
                    color: $l-gray;
                    font-family: $h-font;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25px;
                    margin-bottom: 7px;
                    text-decoration: none;
                }
                .project-subtitle{
                    font-size: 16px;
                    line-height: 19px;
                    opacity: .8;
                }
            }
            .image-container{
                content-visibility: auto;
            }
            .image-container img{
                display: flex;
                aspect-ratio: 1 / 1;
                transition: .2s ease;
            }
            &:hover .image-container img{
                transform: scale(1.025);
            }
        }
    }
}

#about {
    .overview {
        .details {
            @include r_my_50();
            @include r_mx_24();
        }
        h3 {
            margin-top: 20px;
        }
    }
}

#contact {
    & > div {
        padding-bottom: 29px;
    }
    form{
        @include r_py_40();
        &  > div:first-of-type {
            margin-bottom: 30px;
        }
    }
    .no-split {
        padding-top: 1px;
        padding-bottom: 0;
    }
}

#project_footprint_collective {
    .project_header {
        background-image: url(../img/uxf/home-fc-thumb.png);
    }
    .background {
        padding-bottom: 40px;
    }
    .footprint {
        padding-bottom: 30px;
    }
    .breakdown {
        padding-top: 30px;
    }
}