@import "_variables";
@import "_mixins";
& > div {
    margin-bottom: 0 !important;
    overflow-x: clip;

    .opacity-0 {
        opacity: 0;
    }
    .spinner-border {
        transition: opacity linear .2s;
    }

    .scroll_btn {
        margin-top: calc(210px - 32px - 12px);
        position: relative;
        right: 2.5vw;
        &:hover {
            margin-top: calc(210px - 32px - 16px);
        }
    }
}

.project_header {
    background-color: rgba(241,243,244,0.949);
    border-bottom: 1pt solid white;
    margin-bottom: 0;
    @include r_py_0();
    @include r_px_0();
    a {
        color: $black;
        &:hover {
            text-decoration: underline;
        }
    }
    .row {
        max-width: inherit;
        @include r_px_24();
        & > div {
            flex-direction: column;
        }
    }
    .homelink {
        color: $footer-color;
        font-family: $h-font-2;
        font-size: .75rem;
        padding-top: 15px;
        div:nth-of-type(2) {
            font-size: .625rem;
            font-style: italic;
        }
    }
    background-size: cover;
    background-position: 50%;
    .title {
        margin: 30px 0 40px;
        h1 {
            color:rgb(53,55,56);
            font-family: $h-font-2;
            font-size: 35px;
            line-height: 1;
            margin-bottom: 0;
        }
        h2 {
            color: #81868A;
            font-size: inherit;
            line-height: 18px;
        }
        p {
            line-height: 1.5;
            margin: 8px 0 0;
        }
    }
}

.frame-holder {
    background-color: $dd-gray;
    & div {
        transition: opacity linear .2s;
    }
    iframe {
        min-height: 50vh;
        margin-bottom: -7px;
    }
    .badge-hide {
        background: #E5E6E6;
        height: 30px;
        margin-bottom: 3px;
        transition: opacity linear .2s;
        width: 130px;
    }
}


@import "_project_footer";


.project-footer {
    background-color: $footer-bg;
    color: $body-color-2;
}