

/* -------------------- Variable  -------------------- */
//Sizes 540px	720px	960px	1140px
$size-smd: 576px;
$size-md: 768px;
$size-lg: 960px;
$size-xl: 1200px;

//Colors
$black: rgb(40,42,43);
$gray: rgb(66, 66, 66);
$m-gray: rgb(88, 97, 101);
$l-gray: rgb(119,131, 144);
$border-color: rgba(66, 66, 66, .2);

$link-color: rgb(0, 184, 255);

//Type
$btn-font: 'Lato', sans-serif;
$p-font: 'Noto Serif', serif;
$h-font: 'Montserrat', sans-serif;
