@import "variables";
@import "mixins";


h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.content-container {
    @include r_px_15();
    min-height: calc(100vh - 200px);
}
.page-head {
    padding-top: 52px;
    .col-12 {
        @include big_width();
    }
    .header {
        @include r_px_24();
        .back {
            @include r_mb_100();
        }
    }
}
.page-footer {
    height: 100px;
}