//Sizes 540px	720px	960px	1140px
$size-md: 768px;
$size-lg: 960px;

//Colors
$black: rgb(40,42,43);
$gray: rgb(66, 66, 66);
$m-gray: rgb(88, 97, 101);
$l-gray: rgb(119,131, 144);

//Type
$p-font: 'Noto Serif';
$h-font: 'Montserrat', sans-serif;

//This custom style seemed to ok to inlcude since there was distortion with the bootstrap class styles
.ratio>img {
    height: initial;
    object-fit: cover;
    aspect-ratio: 1 /1;
}

@media (min-size: $size-md){

}


@media (min-size: $size-lg){
    
}