@import "variables";
@import "mixins";


/* -------------------- Scrollbar Styles -------------------- */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 6px;
    border: 3px solid #fafafa;
}
::-webkit-scrollbar-track {
    background: #fafafa;
}


/* -------------------- Bootstrap Adjustments-------------------- */  
.container-fluid {
    padding: 0;
}

.container{
    padding-left: 9px;
    padding-right: 9px;
}

.row {
    max-width: 1440px;
    @include mx_auto();
    &>* {
        padding: 0;
    }
}

/*.ratio>img {
    height: initial;
    object-fit: cover;
    aspect-ratio: 1 /1;
}*/


/* -------------------- Text  -------------------- */
.h1, h1 {
    font-weight: 700;;
}


/* -------------------- Images -------------------- */
.square-img {
    //aspect-ratio: 1 / 1;
    padding: 100% 15px 0;
    overflow: hidden;
    position: relative;
    img {
        //aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        position: absolute;
        top: 0;
        left: 0;
    }
}


/* -------------------- Links Buttons and Inputs -------------------- */
a {
    text-decoration: none;
}
button {
    padding: 10px 30px;
    &.submit {
        margin: 30px 0 20px;
    }
}


input[type=text],textarea {
    padding: 14px 16px;
    border: 1px solid $border-color;
    border-radius: 1px;
}
input[type=text] {
    margin-bottom: 20px;
}
textarea {
    height: 260px;
    resize: none;
    margin-bottom: 40px;
}


/* -------------------- Containers -------------------- */  
//Widths
.b_mw_1240 {
    max-width: 1240px;
}
.b_mw_1110 {
    max-width: 1110px;
}
.b_mw_900 {
    max-width: 900px;
}



/* -------------------- Layout - Global -------------------- */  
main > div {
    @include r_mb_100();
}



/* -------------------- Modules -------------------- */
//.no-split {}

//.split-2 {}

//.split-3 {}

//.split-4 {}

.split-3, .split-4 {
    & > div > div {
        margin: 0 28px 28px;
    }
}


/* -------------------- Page Template Styles -------------------- */
//Profile Pages
.profile-page {
    @import "baseline-profile_template";
}


//Project Pages
.project-page {
    @import "baseline-project_template";
}


/* -------------------- Specific Page Styles  -------------------- */
@import "baseline-specific_pages";



/* -------------------- Styles Defined Inline on UXFolio -------------------- */
.i_mb_40 {
    margin-bottom: 40px;
}

.i_py_40 {
    padding-bottom: 40px;
    padding-top: 40px;
}
.i_py_30 {
    padding-bottom: 30px;
    padding-top: 30px;
}


/* -------------------- Media Queries  -------------------- */
@media (min-width: $size-smd){
    .split-3 {
        @include r_mx_30();
    }

    .personal {
        @include r_p_80();
    }
}

@media (min-width: $size-md){
    .bio {
        .square-img{
            height: 460px;
            padding: 0 25px 0 15px;
            img {
                position: relative;
                top: auto;
                left: auto;
            }
        }
    }

    .container{
        @include r_px_12();
    }

    .no-split {
        max-width: 720px;
    }

    .split-3, .split-4 {
        @include r_mx_75();
        & > div:first-of-type > div{
            margin-left: 0px;
        }
        & > div:last-of-type > div{
            margin-right: 0px;
        }
    }

    .profile-page {
        .h1, h1 {
            font-size: 80px;
        }
        .page-head {
            @include r_pt_72();
            .header {
                @include r_pt_78();
                @include r_px_0();
            }
        }
    }


    .project-page {
        .gallery {
            @include r_px50_py30();
        }
        .split-2 > .text-col {
            @include r_px50_py30();
        }
    }


    //md profile styles
    #profile {
        .bio {
            @include r_pt_78();
            margin-bottom: 130px;
            & > div {
                @include r_pt_72();
            }
            .image{
                padding: 0;
                margin-bottom: 0;
            }
            .mini-cv {
                padding: 0 15px 0 25px;
            }
        }

        .projects {
            padding-top: 0;
            @include r_pb_100();
            .row {
                gap: 14px;
                .project-container {
                    width: calc(50% - 7px);
                }
                .project{
                    .project-name{
                        color: #fff;
                        position: absolute;
                        .project-title{
                            color: white;
                            margin-bottom: 16px;
                        }
                        .project-subtitle{
                            color: white;
                        }
                    }
                }
            }
        }
    }

    //MD about styles
    #about {
        .details {
            @include r_px50_py30();
            max-width: 720px;
        }
        .attributes {
            @include r_py_100();
        }
    }

    //MD contact styles
    #contact {
        .contact-form {
            & > div.row {
                @include r_px50_py30();
            }
        }
    }
}

@media (min-width: $size-lg){
    .split-3 {
        @include mx_auto();
    }

    #about .details, #contact .contact-form > div.row {
        @include r_p_75();
    }

    #about {
        .overview {
            img {
                padding: 0 21px 0 24px;
            }
        }
    }
}

@media (min-width: $size-xl){
    #about .details {
        @include r_p_100();
    }
    #contact .contact-form > div.row {
        @include r_py_50();
    }
}